@import "tailwindcss";
  
/* Custom scroll bar with hover */

.scroll-hover::-webkit-scrollbar {
  width: 0px;
}
.scroll-hover:hover::-webkit-scrollbar {
  width: 2px;
}
.scroll-hover::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  
}
.scroll-hover::-webkit-scrollbar-button {
  height: 7px;
}

