<div
    class="flex justify-between items-center bg-gray-900 border border-white rounded-md px-4 py-2"
>
    <span class="truncate">{Astro.props.command}</span>
    <button class="ml-4 px-2 py-1 bg-white text-black rounded-md text-sm"
        >COPY</button
    >
</div>
