<div>
    <label class="block text-sm text-gray-300 mb-1">{Astro.props.label}</label>
    <input
        type="text"
        class="w-full px-2 py-1 bg-transparent border border-white rounded-md text-white"
    />
</div>
