<nav class="bg-white shadow-md rounded-lg mb-6">
    <ul class="flex justify-center space-x-4 p-4">
        <li>
            <button
                id="nav-reverse-shells"
                class="px-4 py-2 text-blue-500 font-semibold border-b-2 border-blue-500"
                >Reverse Shells</button
            >
        </li>
        <li>
            <button
                id="nav-services-pentest"
                class="px-4 py-2 text-gray-500 hover:text-blue-500"
                >Services Pentesting</button
            >
        </li>
        <li>
            <button
                id="nav-privesc"
                class="px-4 py-2 text-gray-500 hover:text-blue-500"
                >Privilege Escalation</button
            >
        </li>
    </ul>
</nav>
