---
import themes from "../../public/themes.json";
import type { ThemeData } from "../types/types.ts";

const themeList: ThemeData = themes;
const themeNames = Object.keys(themeList);
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NetRunners</title>
	</head>
	<body data-theme="default">
		<div class="fixed top-1 right-1 z-50">
			<select
				id="theme-selector"
				class="px-2 py-1 rounded-xl transition-colors duration-300 border-2"
			>
				{
					themeNames.map((name) => (
						<option value={name}>{name.toUpperCase()}</option>
					))
				}
			</select>
		</div>

		<div
			id="theme-wrapper"
			class="min-h-screen transition-colors duration-300"
		>
			<slot />
		</div>

		<script type="module">
			const selector = document.getElementById("theme-selector");
			const wrapper = document.getElementById("theme-wrapper");
			const tabs = document.querySelectorAll(".theme-tab");
			const commandsBoxes = document.querySelectorAll(".commandsBG");
			const commandsBoxText =
				document.querySelectorAll(".commandsTextColor");
			fetch("themes.json")
				.then((response) => response.json())
				.then((themeData) => {
					const applyTheme = (themeName) => {
						const theme = themeData[themeName] || themeData.default;

						Object.values(themeData).forEach((t) => {
							wrapper.classList.remove(
								t.bg,
								t.text,
								t.tabBg,
								...t.border.split(" "),
							);
							selector.classList.remove(
								t.bg,
								t.text,
								...t.border.split(" "),
							);
							tabs.forEach((tab) =>
								tab.classList.remove(t.tabBg),
							);
							commandsBoxes.forEach((commandsBox) =>
								commandsBox.classList.remove(t.commandsBG),
							);
							commandsBoxText.forEach((commandsText) =>
								commandsText.classList.remove(
									t.commandsTextColor,
								),
							);
						});

						wrapper.classList.add(
							theme.bg,
							theme.text,
							...theme.border.split(" "),
						);
						selector.classList.add(
							theme.bg,
							theme.text,
							...theme.border.split(" "),
						);

						tabs.forEach((tab) => tab.classList.add(theme.tabBg));
						commandsBoxes.forEach((commandsBox) =>
							commandsBox.classList.add(theme.commandsBG),
						);
						commandsBoxText.forEach((commandsText) =>
							commandsText.classList.add(theme.commandsTextColor),
						);
						localStorage.setItem("selectedTheme", themeName);
					};

					selector.addEventListener("change", (e) => {
						const themeName = e.target.value;
						applyTheme(themeName);
					});

					const savedTheme =
						localStorage.getItem("selectedTheme") || "default";
					selector.value = savedTheme;
					applyTheme(savedTheme);
				})
				.catch((err) => {
					console.error("Error loading themes.json:", err);
				});
		</script>
	</body>
</html>
